.header{
    color: yellow;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #293C5D;
    height: 100px;
    margin-bottom: 20px;
}

