.img {
    display: flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1.5px;
    margin-left: 35px;
    margin-bottom: 10px;
    width: 308px;
    height: 440px;
    transition: width 0.5s, height 0.5s;
  }

.img:hover {
    width: 313px;
    height: 451px;
    background-color: white;
  }
