@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');

.img-page{
    width: 200px;
    height: 700px;
    margin: 3px;
    flex: 1 1 200vw;
    max-width: 450px;
    margin-left: 40px;
}

.painel{
    flex: 1 1 200px;
    padding-left: 20px;
    padding-top: 20px;

}

.title{
    font-size: 50px;
}

.description {
    font-size: 20px;
}

.star-rating {
    position: relative;
    display: flex;
    margin: 10px 0;
    justify-content: flex-end;
    flex-direction: row-reverse;
 
}

.star-rating input {
    position: relative;
    width: 40px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    overflow: hidden;
}

.star-rating input::before {
    content: '\f005';
    position: absolute;
    font-family: fontAwesome;
    font-size: 68px;
    left: 8px;
    color: rgb(167, 167, 167);
}

.star-rating input:nth-child(2n+1)::before {
    right: 8px;
    left: initial;
}

.star-rating input:hover ~ input::before, 
.star-rating input:hover::before,
.star-rating input:checked ~ input::before, 
.star-rating input:checked::before  {
    color: yellow;
}

.teste{
    display: flex;
    flex-wrap: wrap;
}